{% extends 'base.html' %}
{% block title %}   
  Записи сообщества {{ group.title }}
{% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>{{ group.description }}</p>
  {% for post in page_obj %}
    <ul>
      <li>Автор: <a href="{% url 'posts:profile' post.author %}"><b>{{ post.author.get_full_name }}</b></a></li>
      <li>Дата публикации: <b>{{ post.pub_date|date:"d E Y" }}</b></li>
    </ul>      
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}